.difficultyPipe{
  color: blue;
  letter-spacing: .5in;
  font-size: large;

}
.difficultyPipe:hover{
  color: red;
}
.showAll{
  color: blue;
}
.showAll:hover{
  color: red;
}
body {
  font-family: monaco;
  background-size: cover;
  color: white;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 10px;
}
table, td {
  text-align: center;
  table-layout: fixed;
  color: white !important;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 5px !important;
}
blockquote{
  text-align: center;
  table-layout: fixed;
  color: white !important;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 5px !important;
}
ul{
  text-align: center;
  table-layout: fixed;
  color: white !important;
  outline-color: black;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
  outline-width: 5px !important;
}

